
.card{
    height: 21rem;
    width: 22rem;
}


.card-footer {
    margin-top: auto;
}
.fa {
    font-size: 5rem;
    margin-top: 2rem;

}

@media (max-width: 600px) {
  .fa {
    display: none;
  }
}
